*{
    margin: 0;
    padding: 0;
    font-family:'Open Sans', sans-serif;
}
:root{
    --fontColor:rgb(72, 255, 0);
}

.garis-panjang{
    width: 80%;
    height: 2px;
    background-color: black;
    border: none;
    margin: 20px;
    margin-top: 50px;
}

.container{
    margin-left: 40px;
}

.junior-fortend h4{
    color:var(--fontColor);
    margin-top:10px;
    margin-bottom: 20px;
}


.junior-fortend p{
    margin-bottom: 20px;
}

.skills h4{
    color:var(--fontColor);
    margin-bottom: 20px;
}

.skills p{
    margin-bottom: 20px;
}

.education h4{
    color: var(--fontColor);
    margin-bottom: 20px;
}

.education h6{
    color: blue;
}

.education p{
    margin-bottom: 20px;
}

.experience h4{
    color: var(--fontColor);
    margin-bottom: 20px;
}

.experience h6{
    color: blue;
    font-weight: 50px;
}

.experience p{
    margin-bottom: 10px;
}

.experience ul li{
    margin-left: 30px;
}

footer h4{
    color: var(--fontColor);
}

footer p{
    margin-bottom: 30px;
}